/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

/* List Styles */
ul {
  list-style-type: none;
  padding: 0;
}

/* Header Styles */
header {
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Active link styling */
nav ul li a.active {
  font-weight: bold;
  color: #00509e; /* Customize this color */
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #0066cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #00509e;
}

.btn-secondary {
  background-color: #00cc99;
}

.btn-secondary:hover {
  background-color: #009e73;
}

/* CTA Styles */
.cta {
  text-align: center;
  margin: 40px 0;
}

/* Bottom Navigation Container */
#bottom-nav-container {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  padding: 20px;
  text-align: center;
  display: block;
}

/* Styling for the bottom-nav class within #bottom-nav-container */
#bottom-nav-container .bottom-nav nav {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Footer columns */
#bottom-nav-container .footer-column {
  margin-bottom: 20px;
  display: inline-block; /* Make columns inline so they appear side by side */
  width: 30%; /* Take 30% width per column */
  vertical-align: top; /* Align columns at the top */
  color: white; /* Ensure text is white */
}

#bottom-nav-container .footer-column h3 {
  margin-bottom: 10px;
  color: white;
}

#bottom-nav-container .footer-column ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

#bottom-nav-container .footer-column a {
  color: white; /* Ensure links are white */
  text-decoration: none; /* Remove underline */
}

#bottom-nav-container .footer-column a:hover {
  text-decoration: underline; /* Add underline on hover */
}

#bottom-nav-container .footer-column img {
  width: 32px;
  height: 32px;
  margin-right: 10px; /* Add space between icons */
}
